
.avatar {
    margin: 20px;
    background-color: yellow;
    color: yellow;
}

.paper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form{
    width: 100%;
    margin-top: 100px;
}
